/*---------

Universal Styling

---------*/

*{
  margin: 0;
  padding: 0;
  border:0;
}

body{
  background: #eae9e3;
}

.logo {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding: 100px 0 80px;
}

p {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font: 18px Helvetica, sans-serif;
    color: #1e1e1e;
}

.inbody {
    color: #8f2a2a;
    font: 20px 'Play', sans-serif;
    font-weight: bold;
}
​
