/*---------

Universal Styling

---------*/

*{
  margin: 0;
  padding: 0;
  border:0;
}

body{
  background: #eae9e3;
}

.logo {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding: 100px 0 80px;
}

.cta {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font: 18px Helvetica, sans-serif;
    color: #1e1e1e;
}

.btn {
    text-decoration: none;
    color: #f1f1f1;
    background: #934c39;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    display: block;
    margin: 40px 40px 90px;
}

.btn:hover{
  background:#1e1e1e;
  color: #d8cbc3;
  border-radius: 3px;
}

p {
    padding: 20px 0;
}

.inbody {
    color: #8f2a2a;
    font: 20px 'Play', sans-serif;
    font-weight: bold;
}

.berries {
    width: 400px;
    margin: 0 30px 100px 150px;
    border: #f84545 3px solid;
    float:left;
}

.appt-type{
  display:inline;
}

.types-list{
  padding: 0 150px 0 0;
  font-family: "Helvetica", sans-serif;
}

summary{
  font-size: 18px;
  font-weight: bold;
}

p .appt-type {
  font-size: 16px;
}

h1{
  padding: 0 0 20px 0;
  font: 18px "Helvetica", sans-serif;
}

.smile-img{
  width: 150px;
  padding: 100px 0px;
  position: absolute;
  animation: move 20s forwards linear infinite,
            jump 0.8s 7s ease;
  left: 0px;
  bottom: -800px;
}

@keyframes move {
  from {
    transform: translateX(-100px)
  }

  to{
    transform: translateX(2000px)
  }
}

@keyframes jump {
  0% {
    bottom: -800px;
  }
  50% {
    bottom: -700px;
  }
  100% {
    bottom: -800px;
  }
}
